<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="">Atmiya University</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="" >Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" routerLink="/courses" id="CourseDropDownMenu"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Courses
        </a>
        <div class="dropdown-menu bg-dark" aria-labelledby="CourseDropDownMenu">
          <a class="dropdown-item bg-dark text-white" routerLink="/courses">Course List</a>
          <a class="dropdown-item bg-dark text-white" routerLink="/create-course">Create Course</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/students" >Students</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/faculties" >Faculty</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/allList" >All List</a>
      </li>
    </ul>
  </div>
</nav>
  <div class="container">
<router-outlet></router-outlet>
  </div>


